* {
  margin: 0.01%;
  padding: 0.01%;
  box-sizing: border-box;
}

.header-class {
  background-color: #3c3a39;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
  margin-left: 0%;
  padding-inline-end: 8%;
  margin-right: 0%;
}

.greatings {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.intro-content {
  color: #fff;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 5px;
}

.intro-heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #fff5e1;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 2px;
  padding-bottom: 42%;
  background-color: #1c1a19;
  background-image: url(./images/Group.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: right bottom;
  margin-top: -1px;
}

.social-media_icons {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 10px;
  list-style-type: none;
  margin-left: 0.1%;
  padding-top: 15px;
}

#logo {
  text-decoration: none;
  margin-left: 2px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 80px;
  height: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

#bars {
  margin-right: 10%;
}

.recent-works {
  padding: 120px 24px;
  display: grid;
  grid-auto-flow: row;
}

.section-title {
  height: 83px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-align: center;
}

.recent-image {
  width: 100%;
  height: auto;
  padding-top: 90px;
  margin: auto;
}

.recent {
  height: auto;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  padding-top: 25px;
  padding-bottom: 15px;
  align-items: center;
  color: #091e42;
}

.recent-project-details {
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.recent-buttons-container {
  display: flex;
  flex-direction: row;
  grid-column-gap: 10px;
  margin: 0 auto 0 0;
  list-style: none;
}

.project {
  display: flex;
  flex-direction: column;
  background-image: url(./images/Img\ Placeholder-2.png);
  margin-top: 22px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.project-title {
  width: 100%;
  height: 81px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 70px 5%;
}

.project-details {
  width: 100%;
  height: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 20px;
  padding: 5% 5%;
}

.project-technology {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5% 5%;
  margin: 0 auto 0 0;
  list-style: none;
}

.recent-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  align-items: center;
  padding: 10px 12px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  text-decoration: none;
}

.btn-see-project {
  width: 124px;
  height: 48px;
  background: #ff6b00;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-top: 25px;
  text-decoration: none;
}

.project-btn {
  text-align: center;
  padding: 10px 12px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.project-btn-1 {
  width: 67px;
}

.project-btn-2 {
  width: 95px;
}

.project-btn-3 {
  width: 61px;
}

.see-project-btn {
  width: 100%;
  height: 48px;
  margin-top: 13px;
  background: #ff6b00;
  padding: 10px 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #1c1a19;
  padding-bottom: 10%;
}

.about-me-intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #1c1a19;
  padding: 120px 24px;
  background-image: url(./images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 40%;
}

.about-me-title {
  width: 100%;
  height: auto;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-details {
  width: 100%;
  padding-top: 5%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.btn-resume {
  align-items: center;
  width: 156px;
  height: 48px;
  text-decoration: none;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 10px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid #ff6b00;
  margin-top: 25px;
}

#skills-separator {
  width: 85%;
  margin: 0 auto;
  margin-top: 8%;
  background: #fff;
}

.skills-list-container {
  width: 100%;
  padding-top: 27%;
  height: auto;
  background: #1c1a19;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-list-bock {
  width: 100%;
}

.skills-list li {
  text-align: center;
  list-style-type: none;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 194%;
  align-items: center;
  color: #fff;
  margin-top: 17px;
}

.skill-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  text-align: left;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

#skill-title-1 {
  font-family: "InaiMathi", sans-serif;
}

#skill-title-2,
#skill-title-3 {
  font-family: "Inter", sans-serif;
}

#rectangle-icon-1 {
  transform: rotate(-45deg);
  margin-right: 15px;
}

#rectangle-icon-2 {
  margin-right: 15px;
}

#circle-icon {
  margin-right: 15px;
}

.active-btn-effect:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.hover-btn-effect:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}
/* .see-project-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.btn-resume:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.project-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.btn-see-project:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.recent-button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
} */

.contact-section {
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-paragraph {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding: 0.1px 3px 40px 3px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}

.form-input {
  height: 48px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

#text-comment {
  width: 100%;
  height: 114px;
  background: #fbf8f7;
  border: none;
}

.form-input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #979493;
  padding-left: 16px;
  padding-top: 15px;
}

#text-comment::placeholder {
  font-style: italic;
  color: #3c3a39;
  padding-top: 12px;
  padding-left: 12px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.form-input:focus {
  outline: none;
  border-bottom: 1px solid #ff6b00;
  padding-left: 16px;
  padding-top: 15px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

#text-comment:focus {
  padding-top: 12px;
  padding-left: 12px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  border: 1px solid #ff6b00;
}

.btn-get-in-touch {
  align-items: center;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid #ff6b00;
}

.footer-class {
  padding: 0.1px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 18px;
  padding: 30px 0.1px;
}

#botom-line {
  margin: 20px 0.1px 20px;
  width: 134px;
  height: 5px;
  left: 120px;
}

#footer-separator {
  color: #dfe1e6;
}

.btn-get-in-touch:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}
