* {
  margin: 0.01px;
  padding: 0.01px;
  box-sizing: border-box;
}

.the-body {
  position: relative;
}

.header-class {
  background-color: #3c3a39;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
  margin-left: 0%;
  padding-inline-end: 8%;
  margin-right: 0%;
}

.greatings {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.intro-content {
  color: #fff;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 5px;
}

.intro-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #fff5e1;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 2px;
  padding-bottom: 42%;
  background-color: #1c1a19;
  background-image: url(./images/Group.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: right bottom;
  margin-top: -2px;
}

.social-media_icons {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 10px;
  list-style-type: none;
  margin-left: 0.1%;
  padding-top: 15px;
}

#logo {
  text-decoration: none;
  margin-left: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  width: 80px;
  height: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.bars {
  margin-right: 10%;
}

/* work section */
.first-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.recent-works {
  padding: 120px 24px;
  display: grid;
  grid-auto-flow: row;
}

.section-title {
  height: 83px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-align: center;
}

.recent-image {
  width: 100%;
  height: auto;
  padding-top: 90px;
  margin: auto;
}

.recent {
  height: auto;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  padding-top: 25px;
  padding-bottom: 15px;
  align-items: center;
  color: #091e42;
}

.recent-project-details {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding-bottom: 20px;
}

.recent-buttons-container {
  display: flex;
  flex-direction: row;
  grid-column-gap: 10px;
  margin: 5px auto 0 0;
  list-style: none;
}

.project {
  display: flex;
  flex-direction: column;
  background-image: url(./images/Img\ Placeholder-2.png);
  margin-top: 22px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.project-title {
  width: 100%;
  height: 81px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 70px 5%;
}

.project-details {
  width: 100%;
  height: auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 20px;
  padding: 5% 5%;
}

.project-technology {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5% 5%;
  margin: 0 auto 0 0;
  list-style: none;
}

.recent-button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  align-items: center;
  padding: 10px 12px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  text-decoration: none;
}

.btn-see-project {
  width: 124px;
  height: 48px;
  background: #ff6b00;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-top: 25px;
  text-decoration: none;
}

.project-btn {
  text-align: center;
  padding: 10px 12px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.project-btn-1 {
  width: 67px;
}

.project-btn-2 {
  width: 95px;
}

.project-btn-3 {
  width: 61px;
}

.see-project-btn {
  width: 100%;
  height: 48px;
  margin-top: 13px;
  background: #ff6b00;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #1c1a19;
  padding-bottom: 10%;
}

.about-me-intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 120px 24px;
  background-image: url(./images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 40%;
}

.about-me-title {
  width: 100%;
  height: auto;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-details {
  width: 100%;
  padding-top: 5%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.btn-resume {
  align-items: center;
  width: 156px;
  height: 48px;
  text-decoration: none;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 10px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid #ff6b00;
  margin-top: 25px;
}

.skills-separator {
  width: 85%;
  margin: 0 auto;
  margin-top: 8%;
  background: #fff;
}

.skills-list-container {
  width: 100%;
  padding-top: 27%;
  height: auto;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.skill-list-bock {
  width: 100%;
}

.skills-list li {
  text-align: center;
  list-style-type: none;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 194%;
  align-items: center;
  color: #fff;
  margin-top: 17px;
}

.skill-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

#skill-title-1 {
  font-family: 'InaiMathi', sans-serif;
}

#skill-title-2,
#skill-title-3 {
  font-family: 'Inter', sans-serif;
}

#rectangle-icon-1 {
  transform: rotate(-45deg);
  margin-right: 15px;
  z-index: -1000;
}

#rectangle-icon-2 {
  margin-right: 15px;
}

#circle-icon {
  margin-right: 15px;
}

.active-btn-effect:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.hover-btn-effect:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.contact-section {
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-paragraph {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding: 0.1px 3px 40px 3px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}

.form-input {
  height: 48px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

#text-comment {
  width: 100%;
  height: 114px;
  background: #fbf8f7;
  border: none;
}

.form-input::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #979493;
  padding-left: 16px;
  padding-top: 15px;
}

#text-comment::placeholder {
  font-style: italic;
  color: #3c3a39;
  padding-top: 12px;
  padding-left: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.form-input:focus {
  outline: none;
  border-bottom: 1px solid #ff6b00;
  padding-left: 16px;
  padding-top: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

#text-comment:focus {
  padding-top: 12px;
  padding-left: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  border: 1px solid #ff6b00;
}

.btn-get-in-touch {
  align-items: center;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid #ff6b00;
}

.footer-class {
  padding: 0.1px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 18px;
  padding: 30px 0.1px;
}

#botom-line {
  margin: 20px 0.1px 20px;
  width: 134px;
  height: 5px;
  left: 120px;
}

#footer-separator {
  color: #dfe1e6;
}

.menu {
  display: none;
}

.most-recent-work-project-details-waraper {
  display: grid;
  grid-auto-flow: row;
}

.desktop-recent-project-wraper {
  display: none;
}

.social-media_icons li:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.nav-link::after {
  content: '';
  position: absolute;
  background-color: #f55800;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

/*mobile popup window*/

.popup-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 90vh;
  padding: 25px 15px 25px 15px;
  gap: 30px;
  background-color: #fff;
  position: fixed;
  top: 25px;
  left: 12px;
  right: 12px;
  z-index: 6;
  overflow-y: scroll;
}

.popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-technologies-1 {
  height: 50%;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.project-details-1 {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.more-project-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  gap: 6%;
  min-width: 332px;
}

.popup-image {
  width: 100%;
}

.project-links li a {
  align-items: center;
  text-decoration: none;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding: 15px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid #ff6b00;
  margin-top: 25px;
}

.project-links li {
  text-align: left;
}

.project-links li:first-child {
  margin-top: 2px;
  width: 129px;
}

.project-links li:last-child {
  width: 158px;
}

.project-name {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #172b4d;
}

.close-button {
  width: 24px;
  height: 24px;
  color: #67798e;
}

.pop-project-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  height: 36px;
  text-align: center;
  padding: 8px;
  border: 1px solid #979493;
  font-size: 15px;
  background-color: #fff;
  text-decoration: none;
  color: #3c3a39;
  white-space: normal;
  align-self: start;
}

.more-project-details p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
}

.overlay {
  opacity: 0.9;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #3e3c3c;
  width: 100%;
  z-index: 5;
}

.hidden {
  display: none;
}

@media (min-width: 1350px) {
  .bars,
  .fa-close-1 {
    display: none;
  }

  #navbar {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 24px;
  }

  .menu li a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #fff;
    position: relative;
  }

  .header-class {
    display: grid;
    grid-template-columns: 50% auto;
    background-color: #3e3c3c;
  }

  #logo {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    margin-left: 18%;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #fff;
  }

  .headline-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 8% 40%;
    align-items: center;
    background-image: url(images/Illustration-header.png);
    background-position: top right;
    background-size: 40% auto;
    padding-top: 40px;
    padding-bottom: 19%;
  }

  .social-media_icons {
    display: grid;
    grid-auto-flow: row;
    order: 1;
    margin-top: 170px;
  }

  .greatings {
    font-family: 'Crete Round', serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
    text-align: left;
    width: 70%;
    color: #f55800;
  }

  .intro-heading {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
    color: #fff;
    margin-top: 5px;
  }

  .intro-container {
    width: 566px;
    height: 160px;
    order: 2;
  }

  .intro-content {
    width: 85%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #f4f5f7;
    margin-top: 5px;
  }

  .recent-works {
    padding: 0.1px 90px;
  }

  .most-recent-work-project-details-waraper {
    display: grid;
    grid-auto-flow: row;
    width: 448px;
    height: 348px;
    gap: 0.1px;
  }

  .most-recent-project-wraper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
  }

  .recent-image {
    width: 55%;
    height: auto;
    padding-top: 0.1px;
    margin: 0.1px;
  }

  .recent {
    font-family: 'Crete Round', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    width: 100%;
    margin-top: 0.1px;
    padding-top: 0.1px;
  }

  .recent-project-details {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .recent-buttons-container {
    padding-top: 0.1px;
    margin-top: 0.1px;
  }

  .recent-project-wraper {
    display: none;
  }

  .desktop-recent-project-wraper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(369px, 1fr));
    grid-gap: 20px;
    padding-bottom: 100px;
  }

  .project {
    display: flex;
    flex-direction: column;
    background-image: url(./images/Img\ Placeholder.png);
    margin-top: 22px;
    background-repeat: no-repeat;
    background-size: 369px auto;
    width: 369px;
    height: 435px;
    border: 2px solid #091e42;
  }

  .project-2 {
    display: flex;
    flex-direction: column;
    background-image: url(./images/Img\ Placeholder-3.png);
    margin-top: 22px;
    background-repeat: no-repeat;
    background-size: 369px auto;
    width: 369px;
    height: 435px;
    cursor: pointer;
  }

  .project-3 {
    display: flex;
    flex-direction: column;
    background-image: url(./images/Img\ Placeholder-4.png);
    margin-top: 22px;
    background-repeat: no-repeat;
    background-size: 369px auto;
    width: 369px;
    height: 435px;
    cursor: pointer;
  }

  .project-4 {
    display: flex;
    flex-direction: column;
    background-image: url(./images/Img\ Placeholder-2.png);
    margin-top: 22px;
    background-repeat: no-repeat;
    background-size: 369px auto;
    width: 369px;
    height: 435px;
    cursor: pointer;
  }

  .see-project-btn {
    margin-top: 388px;
    width: 100%;
  }

  .project-title {
    margin-top: 78px;
    font-family: 'Crete Round', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    color: #fff;
  }

  .project-details {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #fff;
  }

  .about-me-section {
    background: #262626;
    padding: 0.1px 0.1px 0.1px 90px;
  }

  .about-me-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 53% 10px 0.1px;
    margin-top: 70px;
    background-image: url(./images/Frame.png);
    background-repeat: no-repeat;
    background-size: 45% auto;
    background-position: right;
  }

  .about-me-title {
    font-family: 'Crete Round', serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
    text-align: left;
    color: #f55800;
    padding-bottom: 0.1px;
    padding-top: 20px;
  }

  .about-me-details {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #f4f5f7;
    padding-top: 25px;
  }

  .btn-resume {
    margin-top: 50px;
  }

  .skills-separator {
    width: 91%;
    margin: 0.1px auto 0.1px 0.1px;
    margin-top: 8%;
    background: #fff;
    margin-right: 90px;
  }

  .skills-list-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    padding-top: 65px;
    align-items: start;
    padding-right: 90px;
  }

  .skill-list-bock {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .skill-title {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    color: #fff;
    margin-top: 20px;
    width: 100%;
  }

  .skills-list li {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 43px;
    text-align: left;
  }

  .contact-section {
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 6%;
    align-items: start;
    padding: 0.1px 90px;
    margin-top: 100px;
  }

  .contact-paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: #262626;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    align-items: start;
  }

  #footer-separator {
    color: #dfe1e6;
    margin-top: 120px;
  }

  .footer-class {
    padding: 1px 90px 1px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #botom-line {
    display: none;
  }

  .recent-work-separator-wraper {
    display: grid;
    grid-template-columns: 315px auto;
    align-items: center;
    gap: 15px;
    margin-top: 75px;
    margin-bottom: 40px;
  }

  .recent-wor-separator-line {
    border: 1px solid #212121;
    padding-bottom: 0.1px;
  }

  .section-title {
    padding-top: 10px;
    font-family: 'Crete Round', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
  }

  /* desktop popup */
  .project-details-1 {
    display: grid;
    grid-template-columns: 60% 38%;
    gap: 2%;
  }

  .more-project-details {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
  }

  .popup-container {
    flex-direction: column;
    margin: 2% 10% 10% 10%;
    padding: 2% 2% 2% 2%;
    gap: 10px;
    box-sizing: border-box;
  }
}

@media (max-width: 1350px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
    background-color: #3c3a39;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease-in;
    list-style: none;
    transform: translate(-100%);
    z-index: 400;
  }

  .menu li {
    border-bottom: 1px solid #6f6c6b;
    padding: 30px 20px 10px 20px;
    width: 85%;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    overflow-y: hidden;
  }

  .nav-link {
    text-decoration: none;
    color: #fff5e1;
  }

  .menu li:last-child {
    display: none;
  }

  .nav-active {
    transform: translate(0%);
  }

  .fa-close {
    width: 24px;
    height: 24px;
    margin-top: 10%;
    margin-left: 80%;
    margin-bottom: 20px;
  }

  .nav-link::after {
    display: none;
  }
}

.overflow-hiden {
  z-index: 0;
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}
